body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
.highlight{
    color: orange;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 5%;

}
.half_width img{
    width: 100%;

}
